@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

html{
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #001122;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  width: 100vw;
  height: calc(90vh);
}

.destaque {
  border: 1px dashed #001122;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.destaque > hgroup > h1 {
  color: #001122;
  font-weight: 400;
  font-size: 20px;
}

nav {
  border: 1px dashed #001122;
  border-bottom: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  border: 1px dashed #001122;
  height: 75px;
  width: 75px;
  display: grid;
  place-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li {
  border: 1px dashed #001122;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #001122;
}

.content {
  display: flex;
}

.content article {
  width: 300px;
  height: 100px;
  display: flex;
  gap: 20px;
  border: 1px dashed #001122;
  margin: 10px;
  padding: 10px;
}

.content article h1 {
  border: 1px dashed #001122;
  margin: 0;
}

.content article section {
  margin-top: 10px;
  border: 1px dashed #001122;
}

.content article div.fake_img {
  border: 1px dashed #001122;
  width: 30%;
  height: 100%;
  display: grid;
  place-items: center;
}

aside {
  border: 1px dashed #001122;
  margin: 10px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

aside div {
  border: 1px dashed #001122;
  flex: 1;
  display: grid;
  place-items: center;
}

footer{
    border: 1px dashed #001122;
    width: 100%;
    height: 10vh;
    display: grid;
    place-items: center;
}